
{{!-- --------------------------------- Para el visual del HOME--------------------- --}}

<div class='console-container'><span id='text'></span>
    <div class='console-underscore' id='console'>&#95;</div>
</div>

{{!-- --------------------------------- Btotones Login y Sing Up---------------------- --}}
<h1 class="ironApp">StarWars IronApp</h1>

<div class="buttons">  

    <a href="/login"  class="ov-btn-grow-box btn btn-secondary" 
        id="unFavButton">Log In</a>

    <a href="/signup" class="ov-btn-grow-box btn btn-secondary" 
            id="unFavButton">Sign Up</a>
    
</div>


