
<div class="buttons">  

    <button href="/login" class="ov-btn-grow-box" class="btn btn-secondary" data-toggle="modal" type="submit"
        id="unFavButton">Log In</button>

    <button href="/signup" class="ov-btn-grow-box" class="btn btn-secondary" data-toggle="modal" type="submit"
            id="unFavButton">Sign Up</button>
    
</div>

<h1 class="ironApp">StarWars IronApp</h1>