
<div class="buttons">  


    <a href="/login"  class="ov-btn-grow-box btn btn-secondary" 
        id="unFavButton">Log In</a>

    <a href="/signup" class="ov-btn-grow-box btn btn-secondary" 
            id="unFavButton">Sign Up</a>
    
</div>

<h1 class="ironApp">StarWars IronApp</h1>
